@tailwind base;
@tailwind components;
@tailwind utilities;

*,
**::before,
**::after {
  box-sizing: border-box;
}

#root {
  height: 100dvh;
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html {
  scroll-behavior: smooth;
}

body {
  height: 100dvh;
}